# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.tsbuildinfo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor / IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# OS / misc
Thumbs.db

# Env
*.local
.env
.env.*
